@using Models
@model ProftaakApplicatieDiabetes.ViewModels.MessageViewModel
@{
    ViewData["Title"] = "Message";
}


@foreach (MessageModel message in Model.Messages)
{
    <h3><b>@message.Title</b></h3>
    <p>@message.Content </p>
    <p>@message.DateOfX</p>
    <hr/>
}

<h2>Message</h2>

<form asp-action="ViewMessage">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Content" class="control-label"></label>
        <input asp-for="Content" class="form-control" />
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Send Message" class="btn btn-default" />
    </div>
</form>

    <a asp-controller="Home" asp-action="Index">Back to Home</a>
