@model ProftaakApplicatieDiabetes.Models.CalcViewModel

@{
    ViewData["Title"] = "View";
}

<h2>Calculate Insuline intake</h2>

<hr />
<div class="container" style="margin-left:380px;">
    <h3>Current registered weight: @Model.Weight</h3>
    <form asp-action="Calculate" class="panel panel-default" style=" background: white; box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px; width:300px;">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="TotalCarbs" class="control-label">Amount of carbohydrates in grams</label>
            <input asp-for="TotalCarbs" class="form-control" />
            <span asp-validation-for="TotalCarbs" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CurrentBloodsugar" class="control-label">Your current bloodsugar in mg/dl</label>
            <input asp-for="CurrentBloodsugar" class="form-control" />
            <span asp-validation-for="CurrentBloodsugar" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TargetBloodSugar" class="control-label">Your target bloodsugar in mg/dl</label>
            <input asp-for="TargetBloodSugar" class="form-control" />
            <span asp-validation-for="TargetBloodSugar" class="text-danger"></span>
        </div>
        <h2>Result: </h2>
        @if (ViewBag.Result == 0)
        {
            <h3>Can't be calculated, target is higher than current bloodsugar.</h3>
        }
        else
        {
            @ViewBag.Result
        }

        <div class="form-group">
            <input type="submit" value="Calculate" class="button" style="margin-top:30px; margin-left: 100px" />
        </div>
    </form>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
