@model ProftaakApplicatieDiabetes.Models.CalcModel

@{
    ViewData["Title"] = "View";
}

<h2>View</h2>

<h4>CalcModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Calculate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalCarbs" class="control-label"></label>
                <input asp-for="TotalCarbs" class="form-control" />
                <span asp-validation-for="TotalCarbs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentBloodsugar" class="control-label"></label>
                <input asp-for="CurrentBloodsugar" class="form-control" />
                <span asp-validation-for="CurrentBloodsugar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TargetBloodSugar" class="control-label"></label>
                <input asp-for="TargetBloodSugar" class="form-control" />
                <span asp-validation-for="TargetBloodSugar" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<a asp-controller="Calc" asp-action="Result">Calculate</a>*@
                <input type="submit" value="Calculate" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
