@{
    ViewData["Title"] = "Home Page";
}

<h2>@ViewData["Title"]</h2>

<div>
    <a asp-action="Calculate" asp-controller="Calc" class="btn btn-default">Calculate</a>
    <br />
    <br />
    <a asp-action="Message" asp-controller="Message" class="btn btn-default">Message</a>
</div>