@using Models
@model ProftaakApplicatieDiabetes.Models.UserViewModel
@{
    ViewData["Title"] = "PatientDataOverviewView";
}

<h2>All Linked Patients</h2>
<div class="table-responsive" id="tableArea">
    <table id="table" class="table table-striped table-bordered" ">
        <thead>
            <tr>
                <th style="color:black">First Name</th>
                <th style="color:black"></th>
            </tr>
        </thead>
        @foreach (User patient in Model.Users)
        {
            <tbody>
                <tr>
                    <td>@patient.FirstName</td>
                    <td>@Html.ActionLink("See calculations", "GetPatientData", "Doctor", new { patientId = patient.UserId }, null)</td>
                </tr>
            </tbody>
        }
   </table>
</div>
